<h3>Zaloguj się</h3>

<form action="/admin" method="POST">

    <label for="username"><b>Użytkownik</b></label>
    <input type="text" placeholder="Wprowadź login" name="username">

    <label for="password"><b>Hasło</b></label>
    <input type="text" placeholder="Wprowadź hasło" name="password">

    <input type="submit" value="Login" class="btn">

</form>

<!-- <h3>Zarejestruj się</h3>
<form action="/register" method="POST">

    <label for="username"><b>Użytkownik</b></label>
    <input type="text" placeholder="Wprowadź login" name="username">

    <label for="password"><b>Hasło</b></label>
    <input type="text" placeholder="Wprowadź hasło" name="password">

    <input type="submit" value="Register" class="btn">

</form> -->