<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>

    <nav class="header__nav">
        <!-- <ul>
            <li>
                <a href="/" class="">Strona główna</a>
            </li>
            <li>
                <a href="/" class="">O nas</a>
            </li>
            <li>
                <a href="/" class="">Kontakt</a>
            </li> -->
        </ul>
    </nav>

<div class="header__button">
    <button>
        Logout
    </button>

</header>