<div class="author">
    <h1 class="author__heading">Odkryj historię z innej strony<h1>
    <p class="author__body">Autorem blogu jest Demokryt</p>
    <script src="https://kit.fontawesome.com/3bf02ae6ba.js" crossorigin="anonymous"></script>
</div>

<img src="/img/politics-second.jpg" alt="Politics" class="politics-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Ostatnie Posty</h2>

    <ul class="article-ul">
        <% data.forEach(post=> { %>
            <li>
                <a href="/post/<%=post._id%>">
                    <span><%= post.title  %><span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }); %>
    </ul>

    <% if (nextPage !== null) {   %>
        <a href="/?page=<% nextPage %>" class="pagination">&lt; Zonacz Starsze Posty</a>
    <% } %>

</section>